.form-bg {
  background-color: #212121;
  height: 100vh;
  overflow-y: auto;
  overflow-x: visible;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

.form-bg::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.resume-bg {
  background-color: #2C2C2C;
  min-height: 100vh;
}

.stripe-left {
  margin-left: calc(-1.5rem * 0.6);
  margin-right: 0;
}

.height-100 {
  height: 100%;
}

.height-80vh {
  height: 80vh;
}

.red-theme .theme-bg {
  background-color: #F22B29;
}

.red-theme .theme-bg-dark {
  background-color: #D4100C;
}

.green-theme .theme-bg {
  background-color: #429789;
}

.green-theme .theme-bg-dark {
  background-color: #347868;
}

.yellow-theme .theme-bg {
  background-color: #F49D37;
}

.yellow-theme .theme-bg-dark {
  background-color: #D5770B;
}

.blue-theme .theme-bg {
  background-color: #3F88C5;
}

.blue-theme .theme-bg-dark {
  background-color: #2F6C9D;
}

.preview-templates h4,
.preview-templates h5,
.preview-templates h6 {
  font-size: 0.5rem !important;
}

.preview-templates p {
  font-size: 0.4rem !important;
}

.preview-templates span {
  font-size: 0.3rem !important;
}

.theme-preview:hover {
  cursor: pointer;
}

.theme-preview .useBtn {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden;
  width: fit-content;
}

.theme-preview:hover .useBtn {
  visibility: visible;
}

@media (max-width: 991px) {
  .form-bg {
    height: 100%;
    overflow-y: visible;
  }
  .resume h4,
  .resume h5,
  .resume h6 {
    font-size: 2vw;
  }
  .resume p {
    font-size: 1.5vw;
  }
  .resume span {
    font-size: 1vw;
  }
}

@media (max-width: 600px) {
  .resume h4,
  .resume h5,
  .resume h6 {
    font-size: 3vw;
  }
  .resume p {
    font-size: 2vw;
  }
  .resume span {
    font-size: 1.5vw;
  }
  .resume span {
    font-size: 1.5vw;
  }
}