.form-bg {
  background-color: #212121;
  height: 100vh;
  overflow-y: auto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

.form-bg::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.resume-bg {
  background-color: #2C2C2C;
}

.stripe-left {
  background-color: red;
  margin-left: calc(-1.5rem * 0.5);
  width: 95%;
}

.height-100 {
  height: 100%;
}